services:
    - App\Core\RouterFactory::createRouter
    - App\Services\ApiTokenAuthenticator
    - App\Services\ApiAuthMiddleware

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Model
